
<div  dir="rtl" class="cityWraper">

    <span class="city_name">{{name}}</span>
    <span class="input_container">
       <input #inputNumber disabled
           class="inputNumber"
          type="string"
           id="id"
            autocomplete="off"
            dir="rtl"
            type="number"
            data-ng-change="numbersOnly()"
            placeholder="{{ residentsNumber }}"
        [value]="residentsNumber" (change)="numberChange.emit(inputNumber.value)" />
    </span>
    <button class="button" (click)="OnEditResidentsNumberClick()">{{edit_he}}</button>
    <button class="button" (click)="onSaveNumberChangeClick(inputNumber.value)">{{save_he}}</button>
</div>