
.cityWraper{
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    // background-color: #ecede2;
    border-radius: 15px;
    margin: 1em;
    // font-family: 'Varela Round';

}

.button{
    color: #4D695C;
    background-color: #BFD4CE;
    height: 2em;
    width: 5em;
    border: none;
    border-radius: 15px;
    font-size: 1.2em;
    // font-family: 'Varela Round';
    box-shadow: 0px 0px 14px 2px #D9D9D9;
    margin: 1em;
    &:hover{
        color: #BFD4CE;
        background-color: #4D695C ;
    }
}

.data_style{
    color: #4D695C;
    font-size: 1.6em;
    margin: 1em;
}

.inputNumber{
    font-size: 1rem;
    border: none;
    background-color:#F5F5F5;
    height: fit-content;
    width: fit-content;
    text-align: center;
}