.page{
    background-color: #F5F5F5;
    margin: 0;
    height: 100%;
    min-height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}


body {
    margin: 0;
    height: 100%;
    min-height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  
  main {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    flex: auto;
  
  }