<div class="home_page_contant">

    <div class="drop_down_list">
        <select #direction class="select"(change)="onDirectionSelect(direction.value)">
            <option class="select" *ngFor="let direction of directionsList" value="{{direction.value}}">{{direction.value}}</option>
        </select>    
    </div>

    <div class="cities_block_display">
            <span class="city_displayer_header">
                <span class="header_coloumn_name">{{cityName_he}}</span>
                <span class="header_coloumn_name">{{residentsNum_he}}</span>
            </span>
            <div class="city" *ngFor="let city of cities | async">
                <app-city-info  [name]="city.name" [residentsNumber]="city.residentsNumber.toString()" 
                (numberChange)="saveNumberChange(city.name, $event)"></app-city-info>
            </div>
    </div>

</div>